footer {
    padding: 40px 0;
    background-color: $footer-bg;
    text-align: center;
    color: $white;
    p {
        text-transform: capitalize;
        a {
            text-transform: lowercase;
            color: $social-bg;
            font-weight: 500;
            &:hover {
                color: $main-c;
            }
        }
    }
    .go-up {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        background-color: $main-c;
        opacity: 0;
        i {
            color: $white;
            font-size: 16px;
        }
        &:hover {
            background-color: $main-h;
        }
    }
}