//
$family: 'Poppins', sans-serif;
$size: 14px;


// color
$white: #fff;
$main-c: #61D2B4;// active-bullet
$main-h: #33B391;
$default-c: #333;// title-c
$b-f1: #f1f1f1;// service icon price head-bg team-bg
$grey-c: #999;// blog-date


// social media color
$twitter: #1DA1F2;
$linkedin: #007BB6;
$google: #DD4D42;
$facebook: #4867AA;
$dribble: #ea4c89;

// bg
$bullet-bg: #568E7F;
$contact-bg: #343A40;
$footer-bg: #292F35;
$social-bg: #DDDDDD;
